extends layout

block content
  .w3-container.w3-sand.w3-auto.index1.top
    .w3-card-4.w3-pale-yellow.index
      header.w3-margin-left.w3-margin-top
        h2.tt.w3-margin-top ResourceForYou 🐯
      .w3-container.w3-pale-yellow.w3-margin-top 
        ul
          button.w3-button.w3-pale-yellow.minha
            a(href='/login') Login
        ul
          button.w3-button.w3-pale-yellow.minha
            a(href='/registo') Registar
