doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/jquery.modal.min.js')
    script(src='/javascripts/aux.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/modal.js')
    script(src='https://kit.fontawesome.com/a076d05399.js')
    
    
    
  body
    block content
