extends layout

block content
  .w3-container.w3-sand.w3-auto.index1.top
    .w3-card-4.w3-pale-yellow.index
      header.w3-margin-left
        h2.tt Login 🐯
      .w3-container.w3-pale-yellow
        form(action="/login" method="POST")
          label
            b Username
          input.w3-input.w3-pale-yellow.w3-margin-bottom(type="text" name="username")
          label
            b Passord
          input.w3-input.w3-pale-yellow.w3-margin-bottom(type="password" id="length" name="password")
          
          input.w3-btn.w3-margin-top.w3-margin-bottom(type="submit" value="Enviar")


        if (error == "Request failed with status code 401")
          div(class="alert")
            span(class="closebtn" onclick="this.parentElement.style.display='none';") &times;
            strong Palavra-passe incorreta 
  
